{{#extends 'base'}}

{{#block 'content'}}
<h1>showing all customers</h1>

<table class = "table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
            <th>Company</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.name}}</td>
            <td> 
                <a href = "/customers/{{this.customer_id}}/delete">Delete</a>
            </td>
        </tr>
          {{/each}}
    </tbody>
</table>


{{/block}}

{{/extends}}